@media screen and (max-width:576px) {
    
    body{
        /* background-color: yellow; */
    }
    .wrapper_container{
        width:96%;
        
    }


    /*                  MQ for Nav Bar---            */
    #linkss ,#nav_icon_normalScreen{
        display: none;  
    }
    #mediaQuery_nav{
        display: flex;
        align-items: center;
        gap:20px;

    }
    #mediaQuery_nav button{
        width: 30px;
        height: 30px;
        font-size: 25px;
        border: none;
        background-color: transparent;
    }



    /*                  MQ for hero section---           */
    #hero-section{

        height: 200px;
        margin-top: 5px;
        background-size: cover;
        background-clip:content-box;
        border-radius: 15px;
    }
    
    #hero-text{
        width: 70%;
        margin-left: 10px;
        margin-top: 10px;
        
    }
    #hero-text p{
        font-size: 16px;
    }
    #hero-text h1{
        font-size: 24px;
    }
    #hero-text span{
        font-size: 16px;
    }


    /*                  MQ for Search Bar---             */

    #search_recipe{
        margin-top: 20px;
        gap:10px;
    }
    #search_recipe h3{
        font-size: 20px;
    }
    #search_input input{
        height: 28px;
        padding: 6px 10px;
    }


    /*              MQ for Buttons---            */
    #display_buttons{
        display: flex;
        flex-direction: column;
    }
    #display_buttons button{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
        padding: 6px 18px;
        font-size: 15px;
    }


    /*              MQ for menu container---         */


    .menu_and_rating_Container{
        display: flex;
        flex-direction: column;
    }
    #filter_rating_col-1{
        width: 100%;
        height: 60px;
        display: flex;
        /* flex-direction: column; */
        justify-content: top;
        /* background-color: aqua; */
        margin-bottom: 20px;
    }
    #filter_rating_col-1 h3{
        display: none;
    }
    #all_Rating_div{
        margin-bottom: 0px;
    }
    #all_Rating_div p{
        font-weight: 600;
    }
    #rating-inputs{
        display: flex;
        flex-direction: row;
    }


    /*                 MQ for cards--                 */

    #all-recipes{
        gap:20px 10px;
    }
    #cardd{
        width: 140px;
        height: 200px;
    }
    .img_div{
        width: 120px;
        height: 110px;
    }
    .veg_non_span, .name_rating_div, .time_like_div{
        width:120px;
    }
    #cardd h1{
        font-size: 12px;
    }
    .time_like_div{
        font-size: 12px;
        margin-top:1px;
    }
    #cardd:hover{
        transform: scale(1.1,1.1);
    }




    /*              MQ for Footer */
    #footer_main_container{
        margin-top: 50px;
    }
    #footer_row1{
        display: flex;
        flex-direction: column;
    }
    #footer_row1_col1{
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #footer_row1_col2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    th,td{
        text-align: center;
    }

    #footer_row1_col3{
        width:90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        text-align: center;
    }
    #footer_inputs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_inputs button{
        width: 40%;
    }
    #footer_inputs input{
        width: 100%;
    }

    #icons-div{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    

}
@media screen and (max-width:768px){
    
    #mediaQuery_nav{
        display: none;
    }
    #all-recipes{
        gap:40px 25px;
    }
    .menu_and_rating_Container{
        display: flex;
        flex-direction: column;
    }
    #filter_rating_col-1{
        width: 100%;
        height: 60px;
        display: flex;
        /* flex-direction: column; */
        justify-content: top;
        /* background-color: aqua; */
        margin-bottom: 20px;
    }
    #filter_rating_col-1 h3{
        display: none;
    }
    #all_Rating_div{
        margin-bottom: 0px;
    }
    #all_Rating_div p{
        font-weight: 600;
    }
    #rating-inputs{
        display: flex;
        flex-direction: row;
    }




    #cardd{
        width: 210px;
        height: 280px;
    }
    .img_div{
        width: 185px;
        height: 150px;
    }
    .veg_non_span, .name_rating_div, .time_like_div{
        width:180px;
    }




    #footer_main_container{
        margin-top: 50px;
    }
    #footer_row1{
        display: flex;
        flex-direction: column;
    }
    #footer_row1_col1{
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #footer_row1_col2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    th,td{
        text-align: center;
    }

    #footer_row1_col3{
        width:90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        text-align: center;
    }
    #footer_inputs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_inputs button{
        width: 40%;
    }
    #footer_inputs input{
        width: 100%;
    }

    #icons-div{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }


}